::placeholder{
    color: rgb(24, 24, 24);
    font-style: italic;
  }  

  .testing-blocks{
    background-color: #4dff00;
    border: 6px double var(--border-color);
    border-radius: 10px;
    background-color: var(--base-background-color);
  }

 .sheet-container{
    --border-color:rgb(57, 73, 110);

    --button-color: rgb(47, 60, 112);
    --pressed-button-color: rgb(111, 17, 17);
    --button-text-color: rgb(231, 231, 231);

    --base-background-color: rgb(191, 181, 156);

    --frame-color: rgb(18, 18, 18);
    --accent-color: rgba(182, 182, 182, 0.648);
    --base-input-color: rgba(255, 255, 255, 0.843);
    --disabled-input-color: rgba(183, 247, 190, 0.442);
  }
  
  .sheet-container {
    display: grid;
    width: min(max(99%,800px),1000px);
    font-size: 13px;
    font-family:'Verdana';
    color: rgb(24, 24, 24);
  }
  
  .light-label-bar{
    color:#000000;
    background-color: var(--accent-color);
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--border-color);
    border: groove  ;
  }

  .dark-label-bar{
    background-color: var(--frame-color);
    color: rgb(255, 255, 255);
    font-size: medium;
    text-align: center;
    border-radius: 10px;
    border: ridge;
  }


  input[type=number]:disabled {
    -moz-appearance: textfield;
  }

  .checkbox-small{
    margin-left: 15% !important;
    width: 60% !important;
    accent-color: var(--button-color);
    border-radius: 5px;;
  }
  .checkbox-large{
    margin-left: 15% !important;
    width: 80% !important;
    accent-color: var(--button-color);
    border-radius: 5px;;
  }

  .input {
    text-align: left;
    font-size: 14px;
    padding-left: 13;
    padding-right: 13;
    border-width: 1px;
    border-color: var(--border-color) !important;
    background-color: var(--base-input-color);
    color: #000000;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
    width: 100% !important;
    -moz-appearance: textfield !important;
    -webkit-appearance: none;
    appearance: none;
  }

  .input:read-only,
  .input-stats:read-only {
    border-color: #4dff0000 !important;
    background-color: var(--disabled-input-color) !important;
  }


  input[type=number]:disabled {
    -moz-appearance: textfield;
  }
  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  
  .input-stats {
    text-align: center;
    font-size: 16px;
    border-width: 1px;
    border-color: var(--border-color) !important;
    background-color: var(--base-input-color);
    color: #000000;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
    width: 90% !important;
    -moz-appearance: textfield !important;
    -webkit-appearance: none;
    appearance: none;
  }

  .header-bar{
      display: grid;
      grid-template-columns: 1fr 2fr 1fr repeat(2, 1fr) .25fr;
      grid-template-rows: 25% 25% 25% 25%;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      height: 90px;
      padding: 5px;
      border: 6px double var(--border-color);
      border-radius: 10px;
      background-color: var(--base-background-color);
  }
  
  .header-image { 
    height:120px;
    width: 120px;
    border-radius: 25%;
    border-width: 15px;
    border: double var(--border-color);
    margin-top: -30px; 
    margin-left: -10px;
    grid-area: 1 / 1 / 4 / 1;
  }

  .header-sheet-charname-box{
    grid-area: 1 / 2 / 1 / 2 !important;    
  }
  .header-sheet-charname-text{
    padding-bottom: 0;
    text-align: center;
    grid-area: 2 / 2 / 2 / 2 !important;     
  }

  .header-sheet-race-box{
    grid-area: 1 / 3 / 1 / 3 !important;     
  }
  .header-sheet-race-text{
    text-align: center;
    grid-area: 2 / 3 / 2 / 3 !important;  
  }

  .header-sheet-level-box{
    grid-area: 1 / 4 / 1 / 4 !important;     
  }
  .header-sheet-level-text{
    text-align: center;
    grid-area: 2 / 4 / 2 / 4 !important;  
  }

  .header-sheet-bg-box{
    grid-area: 1 / 5 / 1 / 5 !important;     
  }
  .header-sheet-bg-text{
    text-align: center;
    grid-area: 2 / 5 / 2 / 5 !important;  
  }
  
  .header-sheet-class-box{
    grid-area: 3 / 2 / 3 / 2 !important;     
  }
  .header-sheet-class-text{
    text-align: center;
    grid-area: 4 / 2 / 4 / 2 !important;     
  }

  .header-sheet-subclass-box{
    grid-area: 3 / 3 / 3 / 5 !important;     
  }
  .header-sheet-subclass-text{
    text-align: center;
    grid-area: 4 / 3 / 4 / 5 !important;     
  }

  .header-sheet-version-box{
    background-color: #b4a566;
    grid-area: 3 / 5 / 3 / 5 !important;  
  }
  .header-sheet-version-text{
    text-align: center;
    grid-area: 4 / 5 / 4 / 5 !important;   
  }

  .header-sheet-gear{
    padding: 2px;
    font-size: large;
    background-color: #00000000;
    border-width: 0;
    box-shadow: none;
    color: #000000;
    margin-left: 20%;
    margin-right: 20%;
    grid-area: 1 / 6 / 1 / 6 !important;    
  }

  .page-buttons-area{
    display: grid;
  }

  .basic-button{
    background-color: var(--button-color);
    color: var(--button-text-color);
    border-radius: 7px;
  }

  .roll-button{
    background-color: var(--button-color);
    color: var(--button-text-color);
    border-radius: 7px;
    font-size: x-large;
    font-family:dicefontd20;
  }

  .page-buttons-0{
    grid-area: 1 / 1 / 1 / 1 !important;    
  }
  .page-buttons-1{
    grid-area: 1 / 2 / 1 / 2 !important;    
  }
  .page-buttons-2{
    grid-area: 1 / 3 / 1 / 3 !important;    
  }
  .page-buttons-3{
    grid-area: 1 / 4 / 1 / 4 !important;    
  }
  .page-buttons-4{
    grid-area: 1 / 5 / 1 / 5 !important;    
  }
  .page-buttons-5{
    grid-area: 1 / 6 / 1 / 6 !important;    
  }
  .page-buttons-6{
    grid-area: 1 / 7 / 1 / 7 !important;    
  }
  .page-buttons-7{
    grid-area: 1 / 8 / 1 / 8 !important;    
  }
  .page-buttons-8{
    grid-area: 1 / 9 / 1 / 9 !important;    
  }

  .main-page-toggle[value="core"] ~ .page-buttons-0,
  .main-page-toggle[value="skills"] ~ .page-buttons-1,
  .main-page-toggle[value="background"] ~ .page-buttons-2,
  .main-page-toggle[value="class"] ~ .page-buttons-3,
  .main-page-toggle[value="weapons"] ~ .page-buttons-4,
  .main-page-toggle[value="spells"] ~ .page-buttons-5,
  .main-page-toggle[value="armor"] ~ .page-buttons-6,
  .main-page-toggle[value="inventory"] ~ .page-buttons-7,
  .main-page-toggle[value="show_all"] ~ .page-buttons-8{
    background-color: var(--pressed-button-color);
    border:outset;
    border-color: var(--pressed-button-color);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow:none;
  }
  
  .main-page-toggle:not([value="core"]) ~ .core-stats-page,
  .main-page-toggle:not([value="skills"]) ~ .page-buttons,
  .main-page-toggle:not([value="background"]) ~ .page-buttons,
  .main-page-toggle:not([value="class"]) ~ .page-buttons,
  .main-page-toggle:not([value="weapons"]) ~ .page-buttons,
  .main-page-toggle:not([value="spells"]) ~ .page-buttons,
  .main-page-toggle:not([value="armor"]) ~ .page-buttons,
  .main-page-toggle:not([value="inventory"]) ~ .page-buttons,
  .main-page-toggle:not([value="show_all"]) ~ .page-buttons{
    display: none;
  }
  
  .core-stats-page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 83px 83px 83px 166px 103px;

    grid-column-gap: 2px;
    grid-row-gap: 15px;
    background-color: var(--base-background-color);
    height: 600px;
    border: 5px double var(--border-color);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: url("/shared-assets/images/examples/lizard.png");
  }
    
  .core-stats{
    padding: 8px;
    grid-area: 1 / 1 / 4 / 1 !important;
    display: grid;
    grid-template-columns: .75fr .75fr .75fr .1fr 1fr .5fr .1fr ;
    grid-template-rows: .1fr  .1fr repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;    
  }

  .core-stats-label{
    grid-area: 1 / 1 / 1 / 8 !important;
  }
  .core-stats-header-bar{
    grid-area: 2 / 1 / 2 / 8 !important;
  }
  .core-stats-header-1{
    padding-top: 15%;
    text-align: center;
    font-size: small;
    grid-area: 2 / 1 / 2 / 1 !important;
  }
  .core-stats-header-2{
    padding-top: 15%;
    text-align: center;
    font-size: small;
    grid-area: 2 / 3 / 2 / 3 !important;
  }
  .core-stats-header-3{
    padding-top: 30%;
    text-align: center;
    font-size: small;
    grid-area: 2 / 4 / 2 / 4 !important;
  }
  .core-stats-header-4{
    padding-top: 10%;
    text-align: center;
    font-size: small;
    grid-area: 2 / 5 / 2 / 5 !important;
  }
  .core-stats-header-5{
    padding-top: 15%;
    text-align: center;
    font-size: small;
    grid-area: 2 / 6 / 2 / 6 !important;
  }
  
  .core-stats-str-1{
    grid-area: 3 / 1 / 3 / 1 !important;
  }
  .core-stats-str-2{
    background-color: var(--frame-color);
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 7%;
    font-size: large;
    grid-area: 3 / 2 / 3 / 2 !important;
  }
  .core-stats-str-3{
    grid-area: 3 / 3 / 3 / 3 !important;
  }
  .core-stats-str-4{
    grid-area: 3 / 4 / 3 / 4 !important;
  }
  .core-stats-str-5{
    grid-area: 3 / 5 / 3 / 5 !important;
  }
  .core-stats-str-6{
    grid-area: 3 / 6 / 3 / 6 !important;
  }
  .core-stats-str-7{
    padding: 2px;
    font-size: large;
    background-color: #00000000;
    border-width: 0;
    box-shadow: none;
    color: #000000;
    margin-left: 20%;
    margin-right: 20%;
    grid-area: 3 / 7 / 3 / 7 !important;
  }
  
  .core-stats-dex-1{
    grid-area: 4 / 1 / 4 / 1 !important;
  }
  .core-stats-dex-2{
    background-color: var(--frame-color);
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 7%;
    font-size: large;
    grid-area: 4 / 2 / 4 / 2 !important;
  }
  .core-stats-dex-3{
    grid-area: 4 / 3 / 4 / 3 !important;
  }
  .core-stats-dex-4{
    grid-area: 4 / 4 / 4 / 4 !important;
  }
  .core-stats-dex-5{
    grid-area: 4 / 5 / 4 / 5 !important;
  }
  .core-stats-dex-6{
    grid-area: 4 / 6 / 4 / 6 !important;
  }
  .core-stats-dex-7{
    padding: 2px;
    font-size: large;
    background-color: #00000000;
    border-width: 0;
    box-shadow: none;
    color: #000000;
    margin-left: 20%;
    margin-right: 20%;
    grid-area: 4 / 7 / 4 / 7 !important;
  }
  
  .core-stats-con-1{
    grid-area: 5 / 1 / 5 / 1 !important;
  }
  .core-stats-con-2{
    background-color: var(--frame-color);
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 7%;
    font-size: large;
    grid-area: 5 / 2 / 5 / 2 !important;
  }
  .core-stats-con-3{
    grid-area: 5 / 3 / 5 / 3 !important;
  }
  .core-stats-con-4{
    grid-area: 5 / 4 / 5 / 4 !important;
  }
  .core-stats-con-5{
    grid-area: 5 / 5 / 5 / 5 !important;
  }
  .core-stats-con-6{
    grid-area: 5 / 6 / 5 / 6 !important;
  }
  .core-stats-con-7{
    padding: 2px;
    font-size: large;
    background-color: #00000000;
    border-width: 0;
    box-shadow: none;
    color: #000000;
    margin-left: 20%;
    margin-right: 20%;
    grid-area: 5 / 7 / 5 / 7 !important;
  }
  
  .core-stats-int-1{
    grid-area: 6 / 1 / 6 / 1 !important;
  }
  .core-stats-int-2{
    background-color: var(--frame-color);
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 7%;
    font-size: large;
    grid-area: 6 / 2 / 6 / 2 !important;
  }
  .core-stats-int-3{
    grid-area: 6 / 3 / 6 / 3 !important;
  }
  .core-stats-int-4{
    grid-area: 6 / 4 / 6 / 4 !important;
  }
  .core-stats-int-5{
    grid-area: 6 / 5 / 6 / 5 !important;
  }
  .core-stats-int-6{
    grid-area: 6 / 6 / 6 / 6 !important;
  }
  .core-stats-int-7{
    padding: 2px;
    font-size: large;
    background-color: #00000000;
    border-width: 0;
    box-shadow: none;
    color: #000000;
    margin-left: 20%;
    margin-right: 20%;
    grid-area: 6 / 7 / 6 / 7 !important;
  }
  
  .core-stats-wis-1{
    grid-area: 7 / 1 / 7 / 1 !important;
  }
  .core-stats-wis-2{
    background-color: var(--frame-color);
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 7%;
    font-size: large;
    grid-area: 7 / 2 / 7 / 2 !important;
  }
  .core-stats-wis-3{
    grid-area: 7 / 3 / 7 / 3 !important;
  }
  .core-stats-wis-4{
    grid-area: 7 / 4 / 7 / 4 !important;
  }
  .core-stats-wis-5{
    grid-area: 7 / 5 / 7 / 5 !important;
  }
  .core-stats-wis-6{
    grid-area: 7 / 6 / 7 / 6 !important;
  }
  .core-stats-wis-7{
    padding: 2px;
    font-size: large;
    background-color: #00000000;
    border-width: 0;
    box-shadow: none;
    color: #000000;
    margin-left: 20%;
    margin-right: 20%;
    grid-area: 7 / 7 / 7 / 7 !important;
  }
  
  .core-stats-cha-1{
    grid-area: 8 / 1 / 8 / 1 !important;
  }
  .core-stats-cha-2{
    background-color: var(--frame-color);
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 7%;
    font-size: large;
    grid-area: 8 / 2 / 8 / 2 !important;
  }
  .core-stats-cha-3{
    grid-area: 8 / 3 / 8 / 3 !important;
  }
  .core-stats-cha-4{
    grid-area: 8 / 4 / 8 / 4 !important;
  }
  .core-stats-cha-5{
    grid-area: 8 / 5 / 8 / 5 !important;
  }
  .core-stats-cha-6{
    grid-area: 8 / 6 / 8 / 6 !important;
  }
  .core-stats-cha-7{
    padding: 2px;
    font-size: large;
    background-color: #00000000;
    border-width: 0;
    box-shadow: none;
    color: #000000;
    margin-left: 20%;
    margin-right: 20%;
    grid-area: 8 / 7 / 8 / 7 !important;
  }


  .hitpoints{
    grid-area: 1 / 2 / 1 / 2 !important;   
    padding: 8px;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: .1fr repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;   
  }

  .hitpoints-label{
    grid-area: 1 / 1 / 1 / 5 !important;
  }

  .hp-blocking{
    border: 2px solid var(--border-color);
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    grid-area: 2 / 1 / 4 / 4 !important;    
  }
  .speed-blocking{
    border: 2px solid var(--border-color);
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    grid-area: 2 / 4 / 4 / 4 !important;    
  }

  .hp-current-box{
    margin-left: 5%;
    grid-area: 2 / 1 / 2 / 1 !important;    
  }
  .hp-current-text{
    text-align: center;
    grid-area: 3 / 1 / 3 / 1 !important;    
  }
  .hp-max-box{
    margin-left: 5%;
    grid-area: 2 / 2 / 2 / 2 !important;    
  }
  .hp-max-text{
    text-align: center;
    grid-area: 3 / 2 / 3 / 2 !important;    
  }
  .temp-hp-box{
    margin-left: 5%;
    grid-area: 2 / 3 / 2 / 3 !important;    
  }
  .temp-hp-text{
    text-align: center;
    grid-area: 3 / 3 / 3 / 3 !important;    
  }
  .speed-box{
    margin-left: 5%;
    grid-area: 2 / 4 / 2 / 4 !important;    
  }
  .speed-text{
    text-align: center;
    grid-area: 3 / 4 / 3 / 4 !important;    
  }


  .init-ac{
    grid-area: 2 / 2 / 2 / 2 !important;    
    padding: 8px;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: .1fr repeat(2, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 0px;     
  }

  
  .init-label{
    grid-area: 1 / 1 / 1 / 4 !important;
  }
  .initiative-bonus-box{
    margin-left: 5%;
    grid-area: 2 / 1 / 2 / 1 !important;    
  }
  .initiative-bonus-text{
    text-align: center;
    grid-area: 3 / 1 / 3 / 1 !important;    
  }
  .initiative-total-box{
    margin-left: 5%;
    grid-area: 2 / 2 / 2 / 2 !important;    
  }
  .initiative-total-text{
    text-align: center;
    grid-area: 3 / 2 / 3 / 2 !important;    
  }
  .initiative-roll{
    font-size: xx-large;
    margin: 10%;
    margin-top: 0;
    margin-bottom: 20%;
    grid-area: 2 / 3 / 4 / 3 !important;    
  }
  
  .ac-label{
    grid-area: 1 / 4 / 1 / 6 !important;
  }
  .ac-modified-box{
    margin-left: 5%;
    grid-area: 2 / 4 / 2 / 4 !important;    
  }
  .ac-modified-text{
    text-align: center;
    grid-area: 3 / 4 / 3 / 4 !important;    
  }
  .ac-natural-box{
    margin-left: 5%;
    grid-area: 2 / 5 / 2 / 5 !important;    
  }
  .ac-natural-text{
    text-align: center;
    grid-area: 3 / 5 / 3 / 5 !important;    
  }


  .lvl-exp{
    grid-area: 3 / 2 / 3 / 2 !important;        
    padding: 8px;
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr);
    grid-template-rows: .1fr repeat(2, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 0px;     
  }
  
  .lvl-label{
    grid-area: 1 / 1 / 1 / 5 !important;
  }
  .cs-level-box{
    margin-left: 5%;
    grid-area: 2 / 1 / 2 / 1 !important;    
  }
  .cs-level-text{
    text-align: center;
    grid-area: 3 / 1 / 3 / 1 !important;    
  }
  .cs-prof-box{
    margin-left: 5%;
    grid-area: 2 / 2 / 2 / 2 !important;    
  }
  .cs-prof-text{
    text-align: center;
    grid-area: 3 / 2 / 3 / 2 !important;    
  }
  .cs-c-exp-box{
    margin-left: 5%;
    grid-area: 2 / 3 / 2 / 3 !important;    
  }
  .cs-c-exp-text{
    text-align: center;
    grid-area: 3 / 3 / 3 / 3 !important;    
  }
  .cs-exp-next-level-box{
    margin-left: 5%;
    grid-area: 2 / 4 / 2 / 4 !important;    
  }
  .cs-exp-next-level-text{
    text-align: center;
    grid-area: 3 / 4 / 3 / 4 !important;    
  }


  .bonuses{
    grid-area: 4 / 1 / 6 / 1 !important;    
    padding: 8px;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: .1fr repeat(9, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 0px;     
  }

  .bonuses-label{
    grid-area: 1 / 1 / 1 / 7 !important;
  }

  .bonuses-melee-header-bar{
    grid-area: 2 / 1 / 2 / 3 !important;
    text-align: center;
  }
  .bonuses-melee-atk-box{
    margin-left: 5%;
    grid-area: 3 / 1 / 3 / 2 !important;    
  }
  .bonuses-melee-atk-text{
    text-align: center;
    grid-area: 4 / 1 / 4 / 2 !important;    
  }
  .bonuses-melee-dmg-box{
    margin-left: 5%;
    grid-area: 3 / 2 / 3 / 3 !important;    
  }
  .bonuses-melee-dmg-text{
    text-align: center;
    grid-area: 4 / 2 / 4 / 3 !important;    
  }
  
  .bonuses-ranged-header-bar{
    grid-area: 2 / 5 / 2 / 7 !important;
    text-align: center;
  }
  .bonuses-ranged-atk-box{
    margin-left: 5%;
    grid-area: 3 / 5 / 3 / 6 !important;    
  }
  .bonuses-ranged-atk-text{
    text-align: center;
    grid-area: 4 / 5 / 4 / 6 !important;    
  }
  .bonuses-ranged-dmg-box{
    margin-left: 5%;
    grid-area: 3 / 6 / 3 / 7 !important;    
  }
  .bonuses-ranged-dmg-text{
    text-align: center;
    grid-area: 4 / 6 / 4 / 7 !important;    
  }

  .bonuses-spellcasting-header-bar{
    grid-area: 5 / 1 / 5 / 7 !important;
    text-align: center;
  }
  .bonuses-spellcasting-atk-box{
    margin-left: 5%;
    grid-area: 6 / 1 / 6 / 3 !important;    
  }
  .bonuses-spellcasting-atk-text{
    text-align: center;
    grid-area: 7 / 1 / 7 / 3 !important;    
  }
  .bonuses-spellcasting-dmg-box{
    margin-left: 5%;
    grid-area: 6 / 3 / 6 / 5 !important;    
  }
  .bonuses-spellcasting-dmg-text{
    text-align: center;
    grid-area: 7 / 3 / 7 / 5 !important;    
  }
  .bonuses-spellcasting-save-box{
    margin-left: 5%;
    grid-area: 6 / 5 / 6 / 7 !important;    
  }
  .bonuses-spellcasting-save-text{
    text-align: center;
    grid-area: 7 / 5 / 7 / 7 !important;    
  }

  .bonuses-skills-header-bar{
    grid-area: 8 / 1 / 8 / 7 !important;
    text-align: center;
  }
  .bonuses-skills-saves-box{
    margin-left: 5%;
    grid-area: 9 / 1 / 9 / 4 !important;    
  }
  .bonuses-skills-saves-text{
    text-align: center;
    grid-area: 10 / 1 / 10 / 4 !important;    
  }
  .bonuses-skills-checks-box{
    margin-left: 5%;
    grid-area: 9 / 4 / 9 / 7 !important;    
  }
  .bonuses-skills-checks-text{
    text-align: center;
    grid-area: 10 / 4 / 10 / 7 !important;    
  }


  .hit-dice{
    grid-area: 4 / 2 / 4 / 2 !important;    
    padding: 8px;
    padding-top: 0;
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-template-rows: 15% 15% repeat(4, 17%);
    grid-column-gap: 2px;
    grid-row-gap: 2px;     
  }

  .hd-label{
    grid-area: 1 / 1 / 1 / 6 !important;
  }

  .hd-header-bar{
    grid-area: 2 / 1 / 2 / 6 !important;
  }

  .hd-header-bar-text-1{
    text-align: center;
    grid-area: 2 / 1 / 2 / 1 !important;
  }
  .hd-header-bar-text-2{
    text-align: center;
    grid-area: 2 / 2 / 2 / 2 !important;
  }
  .hd-header-bar-text-3{
    text-align: center;
    grid-area: 2 / 3 / 2 / 3 !important;
  }
  .hd-header-bar-text-4{
    text-align: center;
    grid-area: 2 / 4 / 2 / 4 !important;
  }

  .hd-long-button{
    margin: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    grid-area: 3 / 1 / 5 / 1 !important;
  }
  .hd-short-button{
    margin: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    grid-area: 5 / 1 / 7 / 1 !important;
  }

  .hd-d6-text{
    text-align: center;
    grid-area: 3 / 2 / 3 / 2 !important;
  }
  .hd-d8-text{
    text-align: center;
    grid-area: 4 / 2 / 4 / 2 !important;
  }
  .hd-d10-text{
    text-align: center;
    grid-area: 5 / 2 / 5 / 2 !important;
  }
  .hd-d12-text{
    text-align: center;
    grid-area: 6 / 2 / 6 / 2 !important;
  }

  .hd-d6-box{
    grid-area: 3 / 3 / 3 / 3 !important;
  }
  .hd-d8-box{
    grid-area: 4 / 3 / 4 / 3 !important;
  }
  .hd-d10-box{
    grid-area: 5 / 3 / 5 / 3 !important;
  }
  .hd-d12-box{
    grid-area: 6 / 3 / 6 / 3 !important;
  }

  .hd-d6-max{
    grid-area: 3 / 4 / 3 / 4 !important;
  }
  .hd-d8-max{
    grid-area: 4 / 4 / 4 / 4 !important;
  }
  .hd-d10-max{
    grid-area: 5 / 4 / 5 / 4 !important;
  }
  .hd-d12-max{
    grid-area: 6 / 4 / 6 / 4 !important;
  }

  .hd-d6-roll{
    grid-area: 3 / 5 / 3 / 5 !important;
  }
  .hd-d8-roll{
    grid-area: 4 / 5 / 4 / 5 !important;
  }
  .hd-d10-roll{
    grid-area: 5 / 5 / 5 / 5 !important;
  }
  .hd-d12-roll{
    grid-area: 6 / 5 / 6 / 5 !important;
  }

  .other-mp{
    grid-area: 5 / 2 / 5 / 2 !important; 
    padding: 8px;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: .1fr repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;     
  }

  .other-label{
    grid-area: 1 / 1 / 1 / 7 !important;
  }

  .inspo-header-bar{
    text-align: center;
    grid-area: 2 / 1 / 2 / 2 !important;
  }

  .inspo-checkbox{
    grid-area: 3 / 1 / 5 / 2 !important;
  }

  .deathsave-header-bar{
    text-align: center;
    grid-area: 2 / 2 / 2 / 7 !important;
  }

  .deathsave-success-text{
    grid-area: 3 / 2 / 3 / 2 !important;
  }
  .deathsave-success-check-1{
    grid-area: 3 / 3 / 3 / 3 !important;
  }
  .deathsave-success-check-2{
    grid-area: 3 / 4 / 3 / 4 !important;
  }
  .deathsave-success-check-3{
    grid-area: 3 / 5 / 3 / 5 !important;
  }

  .deathsave-fail-text{
    grid-area: 4 / 2 / 4 / 2 !important;
  }

  .deathsave-fail-check-1{
    accent-color: var(--pressed-button-color);
    grid-area: 4 / 3 / 4 / 3 !important;
  }
  .deathsave-fail-check-2{
    accent-color: var(--pressed-button-color);
    grid-area: 4 / 4 / 4 / 4 !important;
  }
  .deathsave-fail-check-3{
    accent-color: var(--pressed-button-color);
    grid-area: 4 / 5 / 4 / 5 !important;
  }

  .deathsave-roll{
    grid-area: 3 / 6 / 5 / 6 !important;
  }
  .deathsave-settings{
    padding: 2px;
    font-size: large;
    background-color: #00000000;
    border-width: 0;
    box-shadow: none;
    color: #000000;
    margin-left: 20%;
    margin-right: 20%;
    grid-area: 2 / 6 / 2 / 6 !important;
  }


   
   